<footer class="footer bg-secondary border-t border-base-300 text-base-content p-10">
  <nav>
    <h6 class="footer-title">Help</h6>
    <a class="link link-hover" [routerLink]="['/checkout']">Shipping</a>
    <a class="link link-hover" [routerLink]="['/cart']">Returns + Exchanges</a>
    <a class="link link-hover" [routerLink]="['/products']">FAQ</a>
    <a class="link link-hover" [routerLink]="['/products']">Compare</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover" [routerLink]="['/']">About us</a>
    <a class="link link-hover" [routerLink]="['/account']">Contact</a>
    <a class="link link-hover" [routerLink]="['/register']">Jobs</a>
    <a class="link link-hover" [routerLink]="['/products']">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover" [routerLink]="['/register']">Terms of use</a>
    <a class="link link-hover" [routerLink]="['/register']">Privacy policy</a>
    <a class="link link-hover" [routerLink]="['/register']">Cookie policy</a>
  </nav>
</footer>

<footer class="footer bg-secondary text-base-content px-10 py-4">
  <aside class="grid-flow-col items-center">
    <fa-icon [icon]="['fas', 'truck-fast']" size="3x" class="pe-3"></fa-icon>
    <p>
      Ecom Studio
      <br />
      Full-stack commerce demo
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a aria-label="Twitter">
        <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
      </a>
      <a aria-label="Instagram">
        <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
      </a>
      <a aria-label="Facebook">
        <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
      </a>
    </div>
  </nav>
</footer>
