<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl" [routerLink]="['/']">
      <div class="border-1 bg-secondary px-2 py-1 text-primary logo rounded-xl">
        EC
      </div>
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/products']">Products</a></li>
      <li><a [routerLink]="['/checkout']">Checkout</a></li>
      @if (auth.isLoggedIn()) {
        <li><a [routerLink]="['/account']">Account</a></li>
      }

      @if (auth.isAdmin()) {
        <li>
          <details>
            <summary>Admin</summary>
            <ul class="z-30 bg-base-100">
              <li><a [routerLink]="['/admin/users']">Users</a></li>
            </ul>
          </details>
        </li>
      }
    </ul>
  </div>

  <div class="navbar-end pe-4 flex items-center">
    @if (auth.isLoggedIn()) {
      <div class="hidden text-right md:block">
        <div class="text-sm text-base-content/60">Signed in</div>
        <div class="font-semibold">{{ auth.getUser()?.firstName }}</div>
      </div>
    }

    <a class="relative ms-4" [routerLink]="['/cart']">
      <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
      @if (cart.itemCount() > 0) {
        <span
          class="badge badge-primary absolute -right-3 -top-3 h-6 min-h-6 w-6 rounded-full p-0"
        >
          {{ cart.itemCount() }}
        </span>
      }
    </a>

    <div class="dropdown dropdown-end ps-4">
      <div tabindex="0" role="button">
        <fa-icon [icon]="['far', 'user']" class="menu-icon"></fa-icon>
      </div>
      <ul
        tabindex="0"
        class="dropdown-content menu bg-base-100 rounded-box z-10 w-52 p-2 shadow"
      >
        @if (auth.isLoggedIn()) {
          <li><a [routerLink]="['/account']">My account</a></li>
          <li><a (click)="auth.logout()">Logout</a></li>
        } @else {
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/register']">Register</a></li>
        }
      </ul>
    </div>
  </div>
</div>
